<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="save(f)">

    <mat-form-field appearance="fill">
        <mat-label>Entre com o período desejado</mat-label>
        <mat-date-range-input ngModelGroup="range" [rangePicker]="picker">
          <input matStartDate [(ngModel)]="reserva.dt_entrada_reserva" [min]="minDate" placeholder="Data de entrada" required [ngModelOptions]="{standalone: true}"> 
          <input matEndDate [(ngModel)]="reserva.dt_saida_reserva" placeholder="Data de saída" required [ngModelOptions]="{standalone: true}">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker ></mat-date-range-picker>
      
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Selecione o quarto" required [(ngModel)]="quartos.id" name="quarto">
            <mat-option *ngFor="let quarto of quartos" [value]="quarto.id">
                {{quarto.numero}} <br> &nbsp&nbsp{{quarto.decricao}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    

    <mat-form-field>
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="reserva.name" name="nome" required
            placeholder="Informe o nome do usuário">
    </mat-form-field>

    <mat-form-field>
        <mat-icon matPrefix>account_box</mat-icon>
        <mat-label>username</mat-label>
        <input matInput [(ngModel)]="reserva.username" name="username" required
            placeholder="Informe o username do usuário">
    </mat-form-field>

    <mat-form-field>
        <mat-label>E-mail</mat-label>
        <mat-icon matPrefix>contact_mail</mat-icon>
        <input  type="email" matInput [(ngModel)]="reserva.email" name="email" required
            placeholder="Informe o email do usuário">
    </mat-form-field>

    <mat-form-field>
        
        <mat-label>Senha</mat-label>
        <input  type="password" matInput [(ngModel)]="reserva.password" name="password" required
            placeholder="Informe a senha do usuário">
    </mat-form-field>

    <mat-form-field>
        
        <mat-label>Confirme senha</mat-label>
        <input  type="password"  matInput [(ngModel)]="reserva.confirmPassword" name="confirmPassword" required
            placeholder="Confirme a senha do usuário">
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
           <button mat-raised-button type="submit" color="accent">
              Salvar
           </button>
           <button mat-raised-button type="button" (click)="getBack(f)">
              Voltar
           </button>
        </mat-toolbar-row>
     </mat-toolbar>
</form>