.input-org-doc {
    width: 30px;
}

.create-user-form fieldset {
    border: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
}