<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="save(f)">

    <mat-form-field>
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="user.name" name="nome" required
            placeholder="Informe o nome do usuário">
    </mat-form-field>

    <mat-form-field>
        <mat-icon matPrefix>account_box</mat-icon>
        <mat-label>username</mat-label>
        <input matInput [(ngModel)]="user.username" name="username" required
            placeholder="Informe o username do usuário">
    </mat-form-field>

    <mat-form-field>
        <mat-label>E-mail</mat-label>
        <mat-icon matPrefix>contact_mail</mat-icon>
        <input  type="email" matInput [(ngModel)]="user.email" name="email" required
            placeholder="Informe o email do usuário">
    </mat-form-field>

    <mat-form-field>
        
        <mat-label>Senha</mat-label>
        <input  type="password" matInput [(ngModel)]="user.password" name="password" required
            placeholder="Informe a senha do usuário">
    </mat-form-field>

    <mat-form-field>
        
        <mat-label>Confirme senha</mat-label>
        <input  type="password"  matInput [(ngModel)]="user.confirmPassword" name="confirmPassword" required
            placeholder="Confirme a senha do usuário">
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
           <button mat-raised-button type="submit" color="accent">
              Salvar
           </button>
           <button mat-raised-button type="button" (click)="getBack(f)">
              Voltar
           </button>
        </mat-toolbar-row>
     </mat-toolbar>
</form>