.customButton button {
  border-radius: 6px;
  border: none;
  width: 15.75rem;
  height: 3.5rem;
  color: var(--background);
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0.25rem 0;
  transition: background 0.2s;
}

.customButton button:hover {
  background: var(--second);
}
