.content {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 0.5rem;
  margin: 0 auto;
  width: 12.5rem;
}

.content + div {
  margin: 0 8px;
}

.label {
  display: block;
  background: var(--background);
  color: var(--primary);
  font-weight: 500;
  font-size: 1rem;
  height: 1.75rem;

  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.radioButtonInput {
  display: none;
  position: absolute;
  width: 100%;
  appearance: none;
}
.radioButtonInput:checked + label {
  background: var(--primary);
  color: var(--background);
}
.radioButtonInput:checked + label:after {
  background: var(--primary);
}
.radioButtonInput:checked + label:before {
  width: 10px;
  height: 10px;
}
