mat-toolbar {
    position: fixed;
    bottom: 0;
    height: 40px;
    padding: 4px;

    p {
        font-size: 70%;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    a {
        color: black
    }
}