.container {
    margin-top: 30px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}
.table > thead > tr > th{
    text-align: center;
}
.table > thead > tr > #button{
    width: 160px;
}

